h1 {
  font-family: 'Muli', sans-serif;
  font-size: 80px;
  font-weight: 900;
  text-shadow: 6px 5px rgb(255, 197, 71);

}

h2 {
  font-family: 'Muli', sans-serif;
  font-size: 50px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 8px;

  /* border-top-width: 5px;
  border-top-color: red;
  border-top-style: solid;
  padding-top: 1rem; */
}

.xyz {
  font-size: 10px;
  color: cyan;
}

.box {
  background-color: gray;
  width: 300px;
  height: 300px;
}
h3 {
  font-family: 'Muli', sans-serif;
  font-size: 25px;
  font-weight: 900;
  /* text-decoration: underline; */
  margin-top: 0px;
  margin-bottom: 40px;
}

h4 {
  font-family: 'Muli', sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: rgb(255, 197, 71);
  margin-top: 0px;
  margin-bottom: 8px;
  /* text-decoration: underline; */

}

h5 {
  font-family: 'Muli', sans-serif;
  font-size: 10px;
  font-weight: 400;
  margin-top: 0px;
}

p {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  line-height: 1.4;
  margin-top: 0px;
}

hr {
  height: 5px;
  color: black;
  background-color: black;
  border: 0;
}


body {
  background-color: rgb(255, 197, 71);

  margin-top: 1.2rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
}


.hintergrund {
  width: 100%;
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  background-color: white;
}

.hintergrund img {
  width: 100%;
}

.textspalte{
  max-width: 40em;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.textspalte img {
  width: 100%;
}

.space {
  margin-top: 60px;
  margin-bottom: 40px;
}
